.underside--font {
  font-size: 12px;
  font-family: Arial, sans-serif;
}

.font-style {
  font-size: 13px;
  font-family: Arial, sans-serif;
}

.more {
  position: relative;
  bottom: 1px;
}

.more dialog {
  z-index: 1;
  position: absolute;
  top: 29px;
  left: -200px;
  margin: 5px;
  width: 190px;
  padding-top: 8px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  border: none;
  position: absolute;
}

.more dialog :hover {
  background-color: #f1f3fd;
  border-radius: 8px;
  color: #315efb;
}

.more__dialog__div {
  display: inline-block;
  width: 60px;
  height: 82px;
  text-align: center;
  cursor: pointer;
}

.more__dialog__div img {
  width: 42px;
  height: 42px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  display: block;
}

.more__dialog__div span {
  margin-top: 3px;
}

.more__dialog__div--more {
  text-align: center;
  height: 32px;
  line-height: 32px;
}

.userInfo--set {
  position: relative;
}

.userInfo--set dialog {
  border-radius: 12px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  border: none;
  position: absolute;
  width: 84px;
  padding: 8px 0;
  top: 29px;
  left: -50px;
}

.userInfo--set dialog div {
  margin: 10px 16px 10px 16px;
  color: #333;
  display: block;
  text-align: center;
}

.userInfo--set dialog div:hover {
  color: #315efb;
}

.border--bottom {
  position: relative;
  right: 16px;
  background: #d7d9e0;
  height: 1px;
  width: 100%;
}

.userInfo--info__dialog {
  border-radius: 12px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  border: none;
  position: absolute;
  width: 84px;
  padding: 8px 0;
  top: 35px;
}

.userInfo--info__dialog div {
  margin: 10px 16px 10px 16px;
  color: #333;
  display: block;
  text-align: center;
}

.userInfo--info__dialog div:hover {
  color: #315efb;
}

.userInfo--weather--info {
  display: inline;
  width: 200px;
}

.userInfo--weather > span:hover {
  color: #4e6ef2;
}

.userInfo--weather {
  z-index: 999;
}

.userInfo--weather dialog {
  border-radius: 12px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  border: none;
  position: absolute;
  top: 50px;
  overflow: hidden;
  z-index: 999;
  left: 750px;
}

.userInfo--weather--content--box {
  display: inline-block;
  width: 84px;
  overflow: hidden;
  margin-right: 11px;
  margin-top: 13px;
  padding: 5px 0;
  text-align: center;
}

.userInfo--weather--content--box div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.userInfo--weather--content--box:hover {
  background-color: #f1f3fd;
  border-radius: 8px;
}

.userInfo--weather--info--time {
  color: #9195a3;
}

.userInfo--weather--info--recommend {
  margin-left: 16px;
  color: #315efb;
}

.userInfo--weather--info--location {
  float: right;
}

.userInfo--weather--info--location img {
  position: relative;
  top: 2px;
  width: 13px;
  height: 14px;
}

.userInfo--weather--content {
  margin-top: 10px;
}
