.bottom{
    width: 100%;
    position: fixed;
    z-index: 999;
    height: 49px;
    display: flex;
    justify-content: space-between;
    background-color: #1a1a1b;
    left: 0;
    bottom: 0;
    color: #e8e8e8;
}
.bottom__a{
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    font-family: Arial, sans-serif;
}
.bottom--left{
    display: flex;
    margin-left: 20px;
}
.bottom--right{
    display: flex;
    margin-right: 20px;
}